@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@media screen and (max-width: 1127px)
{
    .card-container
    {
        max-width: 500px;
        flex-wrap: wrap;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #4D4F62;
 
}
body
{
    background-color: #FAFAFA;
}
main
{
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;

}

main
{
    font-family: Poppins, sans-serif;

}

main h1{
    font-size: 36px;
    font-weight: 200;
    margin-top: 40px;
    text-align: center;
}

h1 strong{
    display: block;
    font-weight: 600;
}

h3
{
    display: block;
    width: 540px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
    max-width: 540px;
    margin-bottom: 45px;
    margin-top: 16px;
    text-align: center;
    opacity: 70%;
}

.card-container
{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cards-double-cont{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 350px;
    height: 250px;
    background: #fff;
    border-radius: 8px;
    padding: 32px 40px 32px 32px;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

p.title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7px;
}

p.caption
{
    font-size: 13px;
    font-weight: 400px;
    line-height: 23px;
    opacity: 50%;
    
}

img.icon {
    margin-top: auto;
    align-self: flex-end;
    width: 64px;
    height: 64px;
}

/* temporary top border placeholder */
.supervisor
{
    border-top: 5px solid #44D3D2;
}

.team-builder
{
    border-top: 5px solid #EA5454;
}

.karma
{
    border-top: 5px solid #FCAE4A;
}
.calculator{
    border-top: 5px solid #549EF2;
}
